/******************************************************************
Stylesheet: Tokens
*********************/


%content_background__primary {
    background-color: $grey-10;
}

%border-radius-sm {
    border-radius: $spacing-sm;
}