/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/


#mobile-nav {
	display: none;
}

.nav {
	flex-direction: row;
	height: auto;
	opacity: 1;
	display: flex;
	flex-wrap: wrap;

	li {
		border-bottom: 0;
	}
}

.header_nav {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;

	a {
		text-align: left;
		margin-left: 1em;
	}
}

.nav__wrapper {
	flex-direction: row;
}

#inner-header {
	width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}


	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				text-align: left;

				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
HERO STYLES
*********************/

.hero {

	&__container {
		@include gradient(0deg, $primary-700, $primary-500);
		margin-top: -10px;

		h1 {
			position: relative;
		}

		&_landing, &_large {
			.content_curve__up {
				display: inline;
				svg {
					margin-top: -90px;
					margin-bottom: -20px;
				}
			}
		}

		&_medium {
			.content_curve__outer {
				svg {
					margin-top: -80px;
					margin-bottom: -30px;
				}
			}
		}

		&_landing {
			h1 {
			
			margin-top: 0;
			margin-bottom: 0;

			span {
				display: block;
				color: $primary-50;
				font-family: $sans-serif;
				text-transform: uppercase;
				font-size: .4em;
				line-height: 1.1;
			}
				}

			h3 {
				margin-top: 0;
				ul {
				font-family: $sans-serif;
				margin:0;

				li {
					display: inline-block;
					color: $secondary-500;
					font-weight: 800;

					&:nth-child(1), &:nth-child(2) {
						&:after {
							content: " • ";
							color: $primary-200;
						}
					}
				}
				}
			}

			.hero__content {
				height: 750px;

				&_text {
					@include gradient(0deg, $primary-700, $primary-500);
					position: initial;
				}

				&_text-angle {
					display: inline;
					margin-left: -50px;
				}
			}

		}

		

		&_medium {
			.hero__content {
				height: 400px;

				&_text {
					justify-content: flex-end;
					background: transparent;
				}
			}
		}

		&_small {
			@include gold_overlay_gradient();
			height: 250px;

			.hero__content {
				background-color: white;
			}

			.hero__content_text {
				background: none;
				padding: 0;
				width: 100%;
				left: 0;

				h1 {
					color: $secondary-50;
					text-align: center;
					text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23);
				}
			}

			.header_curve_lower {
				height: 240px;
				position: relative;

				svg {
					position:absolute;
					bottom: 0;
				}
			}

			.content_curve__outer svg {
				position: absolute;
				width: 100%;
				top: 220px;
			}
			
		}

		&_inner {
			max-width: 1440px;
			margin: auto;
		}

		p {
			color: $primary-10;
		}
	}

	&__content {

			&_image {
				background-size: cover;
				background-position: right top;
				padding: 0;
				border-right: 2px solid $secondary-500;
				box-shadow: 17px -10px 15px rgba(0, 0, 0, 0.23);
			}

			&_text {
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 7%;
				padding-right: 5%;

				&-angle {
					padding-left: 0;
					display: inline;

					svg {
						margin-left: -10px;
						width: 928px;
						height: 109%;
					}
				}
			}

			
	}

	&__post {
		&_text {
			display: flex;
			flex-direction: column;
			justify-content: center;

			h1 {
			font-size: 3.5em;
			}
		}
		
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	/* margin-top: 2.2em; */
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */
