/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	@extend %content_background__primary;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {
	image-rendering: auto;
}

#inner-header {
	flex-direction: column;
	align-items: center;
	padding: .5em 2em;
}

#inner-footer {
	flex-direction: column;
}

#inner-footer {
	.nav {
		opacity: 1;
		flex-direction: row;
		height: auto;
		flex-wrap: wrap;

		li {
			border-bottom: 0px;
		}
	}
}

/***************
CONTROLS
Buttons and such
****************/

.button_pair {
	.button:nth-child(1) {
		@extend %btn;
		@extend %btn_secondary;
		@extend %btn_secondary__solid;
		margin-right: 1em;
	}

	.button:nth-child(2) {
		@extend %btn;
		@extend %btn_secondary;
		@extend %btn_secondary__outline;
	}
}

input[type="text"],
input[type="email"],
textarea {
	border: 1px solid $secondary-500;
}

input[type="submit"], input[type="file"], #wp-submit {
	@extend %btn;
		@extend %btn_secondary;
		@extend %btn_secondary__solid;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 4.5em;
	line-height: .9em;
	font-family: $serif;
	color: $primary-100;
}

h2, .h2 {
	font-size: 2.48em;
	line-height: 1em;
	margin-top: 0;
	margin-bottom: 0.375em;
	font-family: $serif;
	color: $primary-600;

	&.has-text-align-center {
		&::after {
		margin-left: auto;
		margin-right: auto;
		}
	}

	&::after {
		content: "";
		display: block;
		margin-top: $spacing-xs;
		height: 4px;
		width: 100px;
		background-color: $secondary-500;
	}
}

h3, .h3 {
	font-size: 2em;
	line-height: 1.1;
	font-family: $serif;
}

h4, .h4 {
	font-size: 1.5em;
	font-weight: 700;
	font-family: $serif;
}

h5, .h5 {
	font-size: 1.2em;
	line-height: 1.6em;
	text-transform: normal;
	font-weight: 500;
	font-family: $sans-serif;
	color: $primary-900;
}



/*********************
HEADER STYLES
*********************/

.header {
	background-color: $primary-800;
	@include box-shadow($bottom-diffused);
	position: relative;
	z-index: 99;
}

#logo, #trustmfa_logo {
	height: 50px;
	width: auto;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;

	.st0 {
		fill: url(#logo-gradient2);
		}

		.st1 {
		fill: url(#logo-gradient1);
		}

		.st2 {
		fill: url(#logo-gradient);
		}

		.st3 {
		fill: $primary-10;
		}

	a {
		color: $white;
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.

*/

.header_nav {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	& > a {
		text-align: center;
	}
}

.nav__wrapper {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

#menu-login-and-forms {
	margin-top: $spacing-md;
	margin-left: auto;
	margin-bottom: auto;
	align-items: center;

	&.show {
		width: 100%;

		&.nav li, &.nav li a {
			width: 100%;
		}
	}

	&.nav li {
		border: 0;
	}

	&.nav li a {
		@extend %btn;
		@extend %btn_secondary;
		@extend %btn_secondary__solid;
	}
}
#mobile-nav {
	text-align: right;
	margin-bottom: 1em;
	margin-top:-2em;
	margin-left: auto;
	color: $primary-50;
	font-weight: 700;
	transition: all .5s;

	&.show {
		margin-top: 1em;
		padding: .5em;
		display: flex;

		.fa-chevron-down {
			transform: rotate(180deg);
			padding-right: .5em;
		}
	}
}



.nav {
	border-bottom: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	opacity: 0;
	display: none;
	height: 0;
	transition: all .5s;

	&.show {
		opacity: 1;
		display: flex;
		height: 100%;
		width: 100%;
	}

	li {
	border-bottom: 1px solid white;
	text-align: center;

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
			font-family: $serif;
			font-size: 1.1em;;

		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {
			color: $secondary-300;
		}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

.hero {

	&__container {

		h1 {
			position: relative;
		}

		&_landing, &_large {
			.content_curve__up {
				display: inline;
				position: relative;
				z-index: 99;
				svg {
					margin-top: -90px;
					margin-bottom: 10px;
				}
			}
		}

		&_medium {
			.content_curve__outer {
				svg {
					margin-top: -45px;
					margin-bottom: 0px;
					position: relative;
					z-index: 99;
				}
			}
		}

		&_landing {
			h1 {
				font-size: 3.5em;
				margin-top: 0;
				margin-bottom: 0;

			span {
				display: block;
				color: $primary-50;
				font-family: $sans-serif;
				text-transform: uppercase;
				font-size: .4em;
				line-height: 1.1;
			}
				}

			h3 {
				margin-top: 0;
				ul {
				font-family: $sans-serif;
				margin:0;

				li {
					display: inline-block;
					color: $secondary-500;
					font-weight: 800;

					&:nth-child(1), &:nth-child(2) {
						&:after {
							content: " • ";
							color: $primary-200;
						}
					}
				}
				}
			}

			.hero__content {
				height: 500px;

				&_text {
					@include gradient(0deg, rgba($primary-700, 0.8), $primary-500);
					position: initial;
				}

				&_text-angle {
					display: none;;
				}
			}

		}

		&_large {
			.hero__content {
				height: 300px;

				&_text {
					justify-content: flex-end;
					width: 100%;
					@include gradient(0deg, rgba($primary-700, 1), rgba($primary-500, 0.8)); 
				}

				&_text-angle {
					display: none;
				}
			}
		}

		&_medium {
			.hero__content {
				height: 200px;

				&_text {
					justify-content: flex-end;
					width: 100%;
					@include gradient(0deg, rgba($primary-700, 1), rgba($primary-500, 0.8));
				}
			}
		}

		&_small {
			@include gold_overlay_gradient();
			height: 250px;

			.hero__container_inner {
				height: 100%;
				align-items: center;
			}

			.hero__content {
				background-color: white;
			}

			.hero__content_text {
				background: none;
				padding: 0;
				width: 100%;
				left: 0;

				h1 {
					color: $secondary-50;
					text-align: center;
					text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23);
				}
			}

			.header_curve_lower {
				display: none;
			}

			.content_curve__outer svg {
				display: none;
			}
			
		}

		&_inner {
			max-width: 1440px;
			margin: auto;
		}

		p {
			color: $primary-10;
		}
	}

	&__content {
			display: flex;
			&_image {
				background-size: cover;
				background-position: right top;
				padding: 0;
			}

			&_text {
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 7%;
				padding-right: 5%;

				&-angle {
					padding-left: 0;
					display: none;

					svg {
						margin-left: -10px;
						width: 928px;
						height: 109%;
					}
				}
			}

			
	}

	&__post {
		&_text {
			display: flex;
			flex-direction: column;
			justify-content: center;

			h1 {
			font-size: 3.5em;
			}
		}
		
	}

	&__featured_post {
		position:absolute;
		display: none;
	}
}

#inner-content {
	margin-bottom: $spacing-xxl;
}

.gallery_item {
	padding: 1em;
	margin-bottom: 3em;
	display: flex;
	flex-direction: column;
	.article {
		&-header {
			padding: 0 1em;

			.entry-title {
				line-height: 1;
				margin-bottom: 1em;
				font-size: 1.5em;

				&::after {
					content: "";
					display: none;
				}

				a {
					font-family: $sans-serif;
					font-weight: 700;
					color: $primary-600;
					font-size: .9em;
					
				}
				
			}
		}	

		&-meta {
			display: flex;
			justify-content: space-between;
			padding-bottom: 16px;
		}
	}

	.button {
		padding: 1em;
		margin-top: auto;
		@extend %btn;
		@extend %btn_secondary__text;
	}
}

.hero--image img {
	border-radius: 16px;
	border: 1px solid $secondary-500;
	@include box-shadow($bottom-diffused);
}

.post-category {
	margin: 0;

	a {
		text-decoration: none;
		font-family: $serif;
	}
}

#content {
	margin-top: 1.5em;
}

.testimonials {
	margin-bottom: 2em;
	&__background {
		&_white {
			@include pattern_overlay;

			.attribution {
				@include gradient(45deg, $secondary-two_stops);
				color: $secondary-50;
			}
		}

		&_gold {
			@include gold_overlay_gradient_light;
			border-top: 2px solid $secondary-500;
			border-bottom: 2px solid $secondary-600;
			display: flex;
			flex-direction: column;
			box-shadow: inset 0 8px 10px -10px rgba($secondary-900, 0.7);

			.attribution {
				@include gradient(45deg, $primary-two_stops__dark);
				color: $primary-50;
			}

			h3, h4 {
				color: $primary-700;
			}

			&::before {
					content: "What our clients say";
					@extend %content_background__primary;
					font-family: $serif;
					font-size: 2em;
					line-height: 1;
					border-radius: 0 0 20px 20px;
					display: inline-block;
					margin-left: auto;
					margin-right: auto;
					margin-top: -5px;
					padding: 0 1em .5em 1em;
					box-shadow: 0px 3px 0px $secondary-500, 0 8px 10px -10px rgba($secondary-900, 0.7);

				}

		}
	}

	&__content {
		justify-content: space-between;
		padding-bottom: $spacing-xxl;

		.testimonial {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			.quote_mark {
				display: none;
			}
			

				h3 {
					text-align: center;
					max-width: 1000px;
					margin-left: auto;
					margin-right: auto;
					font-size: 1.5em;
					
				}

				.attribution {
					display: inline-block;
					border-radius: 20px;
					padding: 4px 16px;
					font-family: $sans-serif;
					font-weight: 700;
					font-size: 1.1em;
					margin: auto;
					margin-bottom: $spacing-xxl;
				}
			}

			& > div:nth-last-of-type(2), & > div:nth-last-of-type(2) ~ div, & > div:nth-last-of-type(3), & > div:nth-last-of-type(3) ~ div {
				width: 90%;
				background-color: $white;
				border-radius: $radius-lg;
				padding: 0;
				justify-content: space-between;
				display: flex;
				flex-direction: column;
				border: 1px solid $secondary-500;
				margin-top: $spacing-xxl;

				.quote_mark {
					display: inline;
					width: 25px;
					position: absolute;
					margin-top: 1.5em;
					margin-left: 1.5em;
				}
				

				h3 {
					font-size: 1.1em;
					margin: 0;
					padding: $spacing-xl;
					padding-left: 3.5em;
					text-align: left;

					&::before {
						display: none;
					}


					p {
						padding: 0;
						margin: 0;
					}
				}

				.attribution {
					padding: $spacing-md $spacing-xl;
					border-radius: 0 0 $radius-md $radius-md;
					font-weight: 700;
					font-size: 1em;
					margin: 0;

				}
			}
		}

	&__sidebar {
		border-top: 2px solid $secondary-500;
		padding-top: 2em;

		li {
			display: flex;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;

			.quote_mark {
				display: none;
			}

			h3 {
				margin-top: 0;
				font-size: 1.2em;
				line-height: 1.2;

				p {
					margin-top: 0;
				}
		}
		.attribution {
			@include gradient(45deg, $primary-two_stops__dark);
				color: $primary-50;
				display: inline-block;
				border-radius: 20px;
				padding: 4px 16px;
				font-family: $sans-serif;
				font-weight: 700;
				font-size: 1em;
				margin: auto;
				margin-bottom: $spacing-xxl;
			}
		}
	}
}

article {
	justify-content: center;

	.hero {
		&--image {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

		.hentry {
			@extend %content_background__primary;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $secondary-500;
				width: 100%;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title
		 {
			margin: 0;
		}

		.single-title {
			margin: .2em 0;
		}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $primary-700;
			font-style: normal;
			font-size: .8em;
			margin: 0;

			time {}
		}



		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $secondary-500;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */


		/* image gallery styles */
		.gallery-columns-2 .gallery-item {
			max-width: 50%;
		}

		.gallery-columns-3 .gallery-item {
			max-width: 33.33%;
		}

		.gallery-columns-4 .gallery-item {
			max-width: 25%;
		}

		.gallery-columns-5 .gallery-item {
			max-width: 20%;
		}

		.gallery-columns-6 .gallery-item {
			max-width: 16.66%;
		}

		.gallery-columns-7 .gallery-item {
			max-width: 14.28%;
		}

		.gallery-columns-8 .gallery-item {
			max-width: 12.5%;
		}

		.gallery-columns-9 .gallery-item {
			max-width: 11.11%;
		}
		.gallery {
			.gallery-item {
				display: inline-block;
		    padding: 1.79104477%;
		    text-align: center;
		    vertical-align: top;
		    width: 100%;

				.gallery-icon {
					img {
						margin-bottom: 0;
					}
				}
			}
			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}
// FAQ

.faq {
	&.open {
		.faq_question {
			margin-bottom: 1em;
		}
	}
}
#faq_container {
	margin-bottom: 2em;
	padding: 10px 15px;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	box-shadow: 0px 3px 0px $secondary-500, 0 8px 10px -10px rgba($secondary-900, 0.7);
	background-color: $white;
}

.faq_question {
  margin: 0px;
  padding: 0px 0px 5px 0px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  display: table;
  font-family: $serif;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.1;
}

.question {
  margin-bottom: 5px;
  display: table-cell;
  width: 100%;
  padding-right: 2em;
}
 
.faq_answer_container {
  height: 0px;
  overflow: hidden;
  padding: 0px;
}

.accordion-button-icon {
  display: table-cell;
  line-height: inherit;
  color: $secondary-500;
  padding-left: 15px;
  vertical-align: middle;
}

/// END FAQs

// PARTNERS
.partners {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

		&_highlighted {
			justify-content: space-around;
			border-radius: $radius-md;
			@include gradient(0deg, $primary-100, $primary-50);
			margin-bottom: $spacing-xl;

			.partners {
				margin: $spacing-xxl;
			}
		}

		.partners {
			background: $white;
			border-radius: $radius-md;
			@include box-shadow($bottom-diffused);
			width: 220px;
			height: 150px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: $spacing-xxl;
			margin-right: auto;
			margin-left: auto;
			
			img {
				width: 100%;
				max-width: 120px;
				height: auto;

			}
		}
	}
	.callout_text {
		margin: $spacing-xxl;
	}
}

//SERVICES 
.services {
	max-width: 1050px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;

	.service {
		display: flex;
		flex-direction: row;
		margin-bottom: 2em;


		img {
			width: 44px;
			height: 44px;
		}

		&__text {
			width: 90%;
			padding-left: 1em;
			padding-right: 1em;
			color: $primary-700;
		}
	}
}

//RESOURCES

.resources {
	columns: 2;
	
	.resourse__item {
		
		.resource__link {
			text-decoration: none;
			display: block;
			.h4 {
				line-height: 1;
				display: inline-block;
				margin-bottom: $spacing-xs;
				margin-left: $spacing-xs;
			}
		}

		h2 {
			margin-top: 1em;
		}

		.resource__description {
			margin-left: $spacing-xxl;
			display: inline-block;
			font-style: italic;
		}
	}
}

//FORMS

.forms {
	columns: 2;

	&__sidebar {
		columns: 1;

	}

	.form__item {
		
		.form__link {
			text-decoration: none;
			display: block;
			
			h4 {
				line-height: 1;
				display: inline-block;
				margin-bottom: $spacing-xs;
				margin-left: $spacing-xs;
			}
		}

		h2 {
			margin-top: 1em;
		}

		.form__description {
			margin-left: $spacing-xxl;
			display: inline-block;
			font-style: italic;
		}
	}
}

.entry-content .form__description {
	margin-bottom: $spacing-lg;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $secondary-500;

      &:hover, &:focus {
      	background-color: $secondary-500;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link 
	.comment-reply-link {
		@extend .accent-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .accent-btn !optional;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	@include gradient(180deg, $primary-two_stops__dark);

	&__logo {
		display: flex;
		align-items: flex-end;

		#trustmfa_logo {
			margin-top: 2em;
			margin-left: auto;
		}
	}

	&__curve {
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;

		svg {
			margin-top: -1em;
		}
	}

	&-nav {
		opacity: 1;
		display: flex;
		justify-content: center;
	}
}


	.footer__tagline {
		position: relative;
		p {
			padding: 0;
			margin: 0;
		}

		em {
			font-style: normal;
			font-family: $sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.5em;
		}

		strong {
			font-family: $serif;
			color: $secondary-500;
			font-size: 2.5em;
			line-height: 1;
		}
	}

.lower_content_curve {
	width: 0;
}

#inner-footer {
	.contact_info {
		color: $primary-100;
		text-align: center;

		.address {
			&__physical {
				line-height: 1;
				margin-bottom: $spacing-sm;
			}
		}
	}
	
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {
		margin-bottom: $spacing-xxl;
		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {
		text-align: center;
		color: $primary-100;
		margin: 1em 0;
		width: 100%;
	}
